* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

p {
  margin: 0;
  padding: 0; }

/*---------var-----------------*/
/*---------mixin-----------------*/
/*---------Extends-----------------*/
.col-s-1, .col-m-1, .col-l-1, .col-s-2, .col-m-2, .col-l-2, .col-s-3, .col-m-3, .col-l-3, .col-s-4, .col-m-4, .col-l-4, .col-s-5, .col-m-5, .col-l-5, .col-s-6, .col-m-6, .col-l-6, .col-s-7, .col-m-7, .col-l-7, .col-s-8, .col-m-8, .col-l-8, .col-s-9, .col-m-9, .col-l-9, .col-s-10, .col-m-10, .col-l-10, .col-s-11, .col-m-11, .col-l-11, .col-s-12, .col-m-12, .col-l-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5); }

.row:before, .row:after {
  content: "";
  display: table; }
.row:after {
  clear: both; }
.row {
  zoom: 1; }

/*---------class-----------------*/
/*---------grid-----------------*/
.m-show {
  display: none; }

.l-show {
  display: none; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-0 {
  left: 0%; }

.col-s-offset-0 {
  margin-left: 0%; }

.col-s-1 {
  width: 8.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-1 {
  left: 8.33333%; }

.col-s-offset-1 {
  margin-left: 8.33333%; }

.col-s-2 {
  width: 16.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-2 {
  left: 16.66667%; }

.col-s-offset-2 {
  margin-left: 16.66667%; }

.col-s-3 {
  width: 25%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-3 {
  left: 25%; }

.col-s-offset-3 {
  margin-left: 25%; }

.col-s-4 {
  width: 33.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-4 {
  left: 33.33333%; }

.col-s-offset-4 {
  margin-left: 33.33333%; }

.col-s-5 {
  width: 41.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-5 {
  left: 41.66667%; }

.col-s-offset-5 {
  margin-left: 41.66667%; }

.col-s-6 {
  width: 50%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-6 {
  left: 50%; }

.col-s-offset-6 {
  margin-left: 50%; }

.col-s-7 {
  width: 58.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-7 {
  left: 58.33333%; }

.col-s-offset-7 {
  margin-left: 58.33333%; }

.col-s-8 {
  width: 66.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-8 {
  left: 66.66667%; }

.col-s-offset-8 {
  margin-left: 66.66667%; }

.col-s-9 {
  width: 75%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-9 {
  left: 75%; }

.col-s-offset-9 {
  margin-left: 75%; }

.col-s-10 {
  width: 83.33333%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-10 {
  left: 83.33333%; }

.col-s-offset-10 {
  margin-left: 83.33333%; }

.col-s-11 {
  width: 91.66667%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-11 {
  left: 91.66667%; }

.col-s-offset-11 {
  margin-left: 91.66667%; }

.col-s-12 {
  width: 100%; }

.col-s-center {
  margin: 0 auto;
  float: none; }

.col-s-push-12 {
  left: 100%; }

.col-s-offset-12 {
  margin-left: 100%; }

/*---------resposive-----------------*/
/*medium Screen*/
@media only screen and (min-width: 640px) {
  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-0 {
    left: 0%; }

  .col-m-offset-0 {
    margin-left: 0%; }

  .col-m-1 {
    width: 8.33333%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-1 {
    left: 8.33333%; }

  .col-m-offset-1 {
    margin-left: 8.33333%; }

  .col-m-2 {
    width: 16.66667%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-2 {
    left: 16.66667%; }

  .col-m-offset-2 {
    margin-left: 16.66667%; }

  .col-m-3 {
    width: 25%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-3 {
    left: 25%; }

  .col-m-offset-3 {
    margin-left: 25%; }

  .col-m-4 {
    width: 33.33333%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-4 {
    left: 33.33333%; }

  .col-m-offset-4 {
    margin-left: 33.33333%; }

  .col-m-5 {
    width: 41.66667%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-5 {
    left: 41.66667%; }

  .col-m-offset-5 {
    margin-left: 41.66667%; }

  .col-m-6 {
    width: 50%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-6 {
    left: 50%; }

  .col-m-offset-6 {
    margin-left: 50%; }

  .col-m-7 {
    width: 58.33333%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-7 {
    left: 58.33333%; }

  .col-m-offset-7 {
    margin-left: 58.33333%; }

  .col-m-8 {
    width: 66.66667%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-8 {
    left: 66.66667%; }

  .col-m-offset-8 {
    margin-left: 66.66667%; }

  .col-m-9 {
    width: 75%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-9 {
    left: 75%; }

  .col-m-offset-9 {
    margin-left: 75%; }

  .col-m-10 {
    width: 83.33333%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-10 {
    left: 83.33333%; }

  .col-m-offset-10 {
    margin-left: 83.33333%; }

  .col-m-11 {
    width: 91.66667%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-11 {
    left: 91.66667%; }

  .col-m-offset-11 {
    margin-left: 91.66667%; }

  .col-m-12 {
    width: 100%; }

  .col-m-center {
    margin: 0 auto;
    float: none; }

  .col-m-push-12 {
    left: 100%; }

  .col-m-offset-12 {
    margin-left: 100%; }

  .m-hide {
    display: none; }

  .m-show {
    display: block; }

  .s-show {
    display: none; } }
/*medium Screen*/
@media only screen and (min-width: 1024px) {
  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-0 {
    left: 0%; }

  .col-l-offset-0 {
    margin-left: 0%; }

  .col-l-1 {
    width: 8.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-1 {
    left: 8.33333%; }

  .col-l-offset-1 {
    margin-left: 8.33333%; }

  .col-l-2 {
    width: 16.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-2 {
    left: 16.66667%; }

  .col-l-offset-2 {
    margin-left: 16.66667%; }

  .col-l-3 {
    width: 25%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-3 {
    left: 25%; }

  .col-l-offset-3 {
    margin-left: 25%; }

  .col-l-4 {
    width: 33.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-4 {
    left: 33.33333%; }

  .col-l-offset-4 {
    margin-left: 33.33333%; }

  .col-l-5 {
    width: 41.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-5 {
    left: 41.66667%; }

  .col-l-offset-5 {
    margin-left: 41.66667%; }

  .col-l-6 {
    width: 50%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-6 {
    left: 50%; }

  .col-l-offset-6 {
    margin-left: 50%; }

  .col-l-7 {
    width: 58.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-7 {
    left: 58.33333%; }

  .col-l-offset-7 {
    margin-left: 58.33333%; }

  .col-l-8 {
    width: 66.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-8 {
    left: 66.66667%; }

  .col-l-offset-8 {
    margin-left: 66.66667%; }

  .col-l-9 {
    width: 75%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-9 {
    left: 75%; }

  .col-l-offset-9 {
    margin-left: 75%; }

  .col-l-10 {
    width: 83.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-10 {
    left: 83.33333%; }

  .col-l-offset-10 {
    margin-left: 83.33333%; }

  .col-l-11 {
    width: 91.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-11 {
    left: 91.66667%; }

  .col-l-offset-11 {
    margin-left: 91.66667%; }

  .col-l-12 {
    width: 100%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-l-push-12 {
    left: 100%; }

  .col-l-offset-12 {
    margin-left: 100%; }

  .l-hide {
    display: none; }

  .l-show {
    display: block; }

  .m-show {
    display: none; } }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

p {
  margin: 0;
  padding: 0; }

.alert {
  background-color: #d3ebf8;
  font-weight: 400;
  outline: 1px solid #4fade3;
  margin-bottom: 22px;
  padding: 11px 18.33333px; }
  .alert p {
    color: #1c7ab0;
    text-shadow: none; }
  .alert-success {
    background-color: #abe37d;
    font-weight: 400;
    outline: 1px solid #5da423;
    margin-bottom: 22px;
    padding: 11px 18.33333px; }
    .alert-success p {
      color: #2d5011;
      text-shadow: none; }
    .alert-success-s {
      display: inline-block;
      font-family: "Icon Font";
      width: 10vw; }
    .alert-success-m {
      display: inline-block;
      font-family: "Icon Font";
      width: 50vw; }
    .alert-success-l {
      display: inline-block;
      font-family: "Icon Font";
      width: 100vw; }
  .alert-error {
    background-color: #f0b3b2;
    font-weight: 400;
    outline: 1px solid #d63632;
    margin-bottom: 22px;
    padding: 11px 18.33333px; }
    .alert-error p {
      color: #871e1b;
      text-shadow: none; }
    .alert-error-s {
      display: inline-block;
      font-family: "Icon Font";
      width: 10vw; }
    .alert-error-m {
      display: inline-block;
      font-family: "Icon Font";
      width: 50vw; }
    .alert-error-l {
      display: inline-block;
      font-family: "Icon Font";
      width: 100vw; }
  .alert-warning {
    background-color: #fdf1cd;
    font-weight: 400;
    outline: 1px solid #f9c638;
    margin-bottom: 22px;
    padding: 11px 18.33333px; }
    .alert-warning p {
      color: #c59306;
      text-shadow: none; }
    .alert-warning-s {
      display: inline-block;
      font-family: "Icon Font";
      width: 10vw; }
    .alert-warning-m {
      display: inline-block;
      font-family: "Icon Font";
      width: 50vw; }
    .alert-warning-l {
      display: inline-block;
      font-family: "Icon Font";
      width: 100vw; }
  .alert-info {
    background-color: #d3ebf8;
    font-weight: 400;
    outline: 1px solid #4fade3;
    margin-bottom: 22px;
    padding: 11px 18.33333px; }
    .alert-info p {
      color: #1c7ab0;
      text-shadow: none; }
    .alert-info-s {
      display: inline-block;
      font-family: "Icon Font";
      width: 10vw; }
    .alert-info-m {
      display: inline-block;
      font-family: "Icon Font";
      width: 50vw; }
    .alert-info-l {
      display: inline-block;
      font-family: "Icon Font";
      width: 100vw; }

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer; }
  .btn-blue {
    background-color: #4fade3;
    border-color: #4fade3;
    color: white; }
    .btn-blue:hover {
      background-color: #39a3e0; }
    .btn-blue:focus {
      border-color: #2399dc; }
  .btn-grey-light {
    background-color: #eee;
    border-color: #eee;
    color: white; }
    .btn-grey-light:hover {
      background-color: #e1e1e1; }
    .btn-grey-light:focus {
      border-color: #d5d5d5; }
  .btn-grey-dark {
    background-color: #333;
    border-color: #333;
    color: white; }
    .btn-grey-dark:hover {
      background-color: #262626; }
    .btn-grey-dark:focus {
      border-color: #1a1a1a; }
  .btn-red {
    background-color: #d63632;
    border-color: #d63632;
    color: white; }
    .btn-red:hover {
      background-color: #c72c28; }
    .btn-red:focus {
      border-color: #b22724; }
  .btn-green {
    background-color: #5da423;
    border-color: #5da423;
    color: white; }
    .btn-green:hover {
      background-color: #518f1f; }
    .btn-green:focus {
      border-color: #457a1a; }
  .btn-yellow {
    background-color: #f9c638;
    border-color: #f9c638;
    color: white; }
    .btn-yellow:hover {
      background-color: #f8bf1f; }
    .btn-yellow:focus {
      border-color: #f7b707; }
  .btn-orange {
    background-color: #f77f00;
    border-color: #f77f00;
    color: white; }
    .btn-orange:hover {
      background-color: #de7200; }
    .btn-orange:focus {
      border-color: #c46500; }
  .btn-outline-blue {
    background-color: transparent;
    background-image: none;
    border-color: #4fade3; }
    .btn-outline-blue:hover {
      background-color: #4fade3;
      border-color: #4fade3;
      color: white; }
  .btn-outline-grey-light {
    background-color: transparent;
    background-image: none;
    border-color: #eee; }
    .btn-outline-grey-light:hover {
      background-color: #eee;
      border-color: #eee;
      color: white; }
  .btn-outline-grey-dark {
    background-color: transparent;
    background-image: none;
    border-color: #333; }
    .btn-outline-grey-dark:hover {
      background-color: #333;
      border-color: #333;
      color: white; }
  .btn-outline-red {
    background-color: transparent;
    background-image: none;
    border-color: #d63632; }
    .btn-outline-red:hover {
      background-color: #d63632;
      border-color: #d63632;
      color: white; }
  .btn-outline-green {
    background-color: transparent;
    background-image: none;
    border-color: #5da423; }
    .btn-outline-green:hover {
      background-color: #5da423;
      border-color: #5da423;
      color: white; }
  .btn-outline-yellow {
    background-color: transparent;
    background-image: none;
    border-color: #f9c638; }
    .btn-outline-yellow:hover {
      background-color: #f9c638;
      border-color: #f9c638;
      color: white; }
  .btn-outline-orange {
    background-color: transparent;
    background-image: none;
    border-color: #f77f00; }
    .btn-outline-orange:hover {
      background-color: #f77f00;
      border-color: #f77f00;
      color: white; }

.btn-xl {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  line-height: 1.5;
  border-radius: 0.2rem; }

.btn-s {
  padding: 0.25rem 0.5rem;
  font-size: 0.775rem !important;
  line-height: 1.5;
  border-radius: 0.2rem; }

.navbar nav {
  background-color: orange; }
.navbar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0; }
.navbar nav ul li {
  padding: 1% 1% 1% 1%; }
.navbar nav ul li:hover {
  background-color: #d98c00; }
.navbar nav ul li a {
  text-decoration: none;
  color: white; }
.navbar nav ul li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
@media screen and (min-width: 35rem) {
  .navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .navbar nav ul li {
    border-bottom: none; } }
@media screen and (min-width: 50rem) {
  .navbar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; } }

.navbar-white {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dee2e6;
  z-index: 1; }
  .navbar-white nav {
    background-color: #FFFFFF; }
  .navbar-white nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0; }
  .navbar-white nav ul li {
    padding: 1% 1% 1% 1%; }
  .navbar-white nav ul li:hover {
    background-color: #ececec; }
  .navbar-white nav ul li a {
    text-decoration: none;
    color: #000000; }
  .navbar-white nav ul li {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 35rem) {
    .navbar-white nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .navbar-white nav ul li {
      border-bottom: none; } }
  @media screen and (min-width: 50rem) {
    .navbar-white nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; } }
  .navbar-white nav ul li:hover {
    background-color: white; }
  .navbar-white nav > ul > li > a {
    color: #666666; }
  .navbar-white nav ul li a:hover {
    color: #000000;
    transition-duration: 0.7s; }

.navbar-dark {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dee2e6;
  z-index: 1; }
  .navbar-dark nav {
    background-color: #323b47; }
  .navbar-dark nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0; }
  .navbar-dark nav ul li {
    padding: 1% 1% 1% 1%; }
  .navbar-dark nav ul li:hover {
    background-color: #222831; }
  .navbar-dark nav ul li a {
    text-decoration: none;
    color: #5d718e; }
  .navbar-dark nav ul li {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 35rem) {
    .navbar-dark nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    .navbar-dark nav ul li {
      border-bottom: none; } }
  @media screen and (min-width: 50rem) {
    .navbar-dark nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; } }
  .navbar-dark nav ul li:hover {
    background-color: #323b47; }
  .navbar-dark nav > ul > li > a {
    color: #5d718e; }
  .navbar-dark nav ul li a:hover {
    color: #96a5bb;
    transition-duration: 0.7s; }

/*# sourceMappingURL=style.css.map */
